{
  "plugins": ["react-hot-loader/babel"],
  "presets": [
    [
      "@babel/preset-env",
      { "corejs": 3, "useBuiltIns": "usage", "targets": { "ie": "11" } }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
